<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">

	<script type="text/javascript" src="js/libs.js?201812051934"></script> 
	<script type="text/javascript" src="js/app.js?201812051934"></script> 
	<link rel="stylesheet"	href="https://fonts.googleapis.com/css?family=Lato:400,700" >
	<link rel="stylesheet" href="css/style.css?201812051934">
	<script type="text/javascript" src="js/iframeResizer.contentWindow.min.js"></script>
	<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
</head>
<body ng-app="Dorrasset" ng-cloak layout=column ng-controller="MainCtrl" class="">
	<div id="Dorrasset" layout=column flex class="">
		<div id="Page_Wrapper" layout=column class="animate-children-step enterright-children" ng-class="mainClass"
			data-iframe-height>

			<div layout=column layout-align="center center">
				<h3 class="md-headline no-margin">Explore</h3>
				<div layout class="">
					<md-button class="no-margin" ng-click="toogleAll(true)">
						<md-icon md-font-icon="fa-plus fa-lg margin-right"></md-icon>Expand All
					</md-button>
					<span class="w20"></span>
					<md-button class="no-margin" ng-click="toogleAll(false)">
						<md-icon md-font-icon="fa-minus fa-lg margin-right"></md-icon>Collapse All
					</md-button>
				</div>
			</div>

			<div ng-repeat="P in AccordionPages" class="AccordionPage">
				<div layout class="md-pointer Accordion_Title" ng-click="openAccordionPage(P)">
					<md-button class="md-icon-button no-margin">
						<md-icon md-font-icon="fa-chevron-right fa-lg" ng-class="{ 'fa-rotate-90': P.open }"></md-icon>
					</md-button>
					<h2 flex class="md-display no-margin lh40 h40 " md-truncate>{{ P.title }}</h2>
				</div>
				
				<div class="" ng-if="P.loaded" ng-show="P.open" >
					<div  ng-include="P.url" class="Accordion_Content" ng-class="{ openSection: P.animate, closedSection: !P.animate }"></div>
				</div>
			</div>


			<div class="h20"></div>

		</div>
	</div>

</body>
</html>